__pycache__/
*.py[cod]
*$py.class
*.pyc
.idea
.todo
*.log
*.backup
tf_env/

.tmp/
temp/
.venv/
venv/
env/
workflow/
gfpgan/
models/
*.onnx
models/DMDNet.pth
.vscode/
switch_states.json
/models
install.bat
/.claude
*.bat

repomix-output.*
NEXT STEPS.md
output/
people/